.container__menu-title {
  color: #f1f1f1;
}

.container__menu-title h1 {
  font-size: 8rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: .75rem 0;
  display: flex;
  justify-content: center;
}


.container__menu-title hr {
  margin-top: 1.3rem;
}
