<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
  <article class="articles__main">
    <app-big-card
    photoCover="https://biztoc.com/cdn/808/og.png"
    cardTitle="Tesla tells workers on Cybertruck line no 'need to report to work' for the next three days"
    cardDescription="Tesla told employees on its Cybertruck production line that they didn't need to report to work for the next three days.\n- Regular scheduling will resume on Friday, the company told staff. Tesla shortened production hours for the Cybertruck line earlier this…"
    >
    </app-big-card>
  </article>
  <div class="articles__others">
    <app-small-card
      photoCover="https://gdb.voanews.com/9AD0152C-C32B-4118-8306-9FAE28DB834E.jpg"
      cardTitle="Delaware judge rejects request to restore Musk's $56 billion Tesla pay"
      >
    </app-small-card>
    <app-small-card
      photoCover="https://media.drive.com.au/obj/tx_q:70,rs:auto:1920:1080:1/driveau/upload/cms/uploads/51577662-04a9-5829-b4df-bec1c2750000"
      cardTitle="Elon Musk’s $US56 billion Tesla payday denied, again – report"
      >
    </app-small-card>
    <app-small-card
      photoCover="https://img.huffingtonpost.com/asset/674e48f51400002900904ea4.jpeg?ops=1200_630"
      cardTitle="Elon Musk Must Return $56 Billion Tesla Pay Package, Judge Rules"
      >
    </app-small-card>
  </div>
</div>
